<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.name %> !</h1>
<p>
  Welcome to WhatIf!
</p>
<a href="http://whatifgame.herokuapp.com">Click here to have fun!</a>
</body>
</html>