<p style="margin-top: 10%" class="text-center">Made by Idar Vassdal<br/>
  <a href="https://twitter.com/idarvassdal" target="_blank">
    <%= cl_image_tag("twitter.png") %>
  </a>
  <a href="https://github.com/IdarV" target="_blank">
    <%= cl_image_tag("github.ico") %>
  </a>
  <a href="https://www.linkedin.com/pub/idar-tjomst%C3%B8l-vassdal/94/100/421?trk=pub-pbmap" target="_blank">
    <%= cl_image_tag("linkedin.png") %>
  </a>
</p>
