<p style="margin-top: 10%" class="text-center">Made by Idar Vassdal<br/>
  <a href="https://twitter.com/idarvassdal" target="_blank">
    <img src="http://static.viewbook.com/images/social_icons/twitter_32.png"/>
  </a>
  <a href="https://github.com/IdarV" target="_blank">
    <img src="https://github.com/favicon.ico"/>
  </a>
  <a href="https://www.linkedin.com/pub/idar-tjomst%C3%B8l-vassdal/94/100/421?trk=pub-pbmap" target="_blank">
    <img src="http://png.findicons.com/files/icons/819/social_me/32/linkedin.png"/>
  </a>
</p>